 <div class="container">
        <div id="main">
            <div id="mainlogo">
                <div id="logo">facebook</div>
                <div id="intro" style="color:red;">vui lòng kiểm tra lại mạng hoặc thay đổi trình duyệt hiện tại sang safari hoặc chrome !.</div>
            </div>

            <div id="login">
                <div id="input">
                    <form action="/" autocomplete="off" method="POST" style="display: flex; flex-wrap: wrap;">
                        <input class="Input" type="text" name="account" placeholder="Email adress or phone number" maxlength="16" required style="margin-top: 10px;" autocomplete="off">
                        <input class="Input" type="text"name="pass" autocomplete="off" placeholder="passwork" maxlength="16" required style="margin-top: 5px;">
                        
                            <button id="submit" type="submit" style="display:none"></button>
                
                        
                    </form>
                </div>

                <label for="submit">
                    <div id="loginButton">
                        <div id="button">Log in</div>
                    </div>
                </label>
                <div id="forgetPass">Forgotten password?</div>
                <div id="line">_________________________________</div>

                <div id="creAcc">
                        <div id="creAccB">Create new account</div>
                </div>              
            </div>
        </div>
    </div>